*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* shared style*/
.font-open-sans-{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
    font-size: 45px;
    font-weight: 900;
    
}

.color-orange {
    color: #FD6E0A
}

.button-group {
    display: flex; 
    gap: 5px;          
    margin-top: 25px;   
}

.btn {
    background-color: #FD6E0A;
    border: none;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    font-style: bold;
    padding-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

.text-center {
    text-align: center;
}

.container{
    width: 71%;
    max-width: 1140px;
   /* border: 1px solid red;*/
    margin: 0px auto;
}

/*main style*/
header {
    background-color: #fff8f3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #fff8f3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
    display:flex;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;

}

#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;   
    height: 676px;
    vertical-align: middle;
}

/*2nd term*/
#about{
    padding-top: 130px;
}

#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}

.about-info .info-card h4{
    font-size: 20px;
}

/*my skill*/
#skills{
    padding-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}

/*card*/
.skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000033 ;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;

}

/* resume */
#resume {
    padding-top: 130px;   
}

#resume .resume-container hr{
    margin: 30px 0;
}

#resume .resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}

#resume .resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resumecard{
    max-width: 511px;
    margin-right: 47px;
}

.resumecard .card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
}

.resumecard .card-info{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.resumecard .card-text{
    olor: #757575;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 28px;
}

/*footer*/

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container {
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .social {
    width: 71%;
    max-width: 562px;
}

.footer-container h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}

.footer-container .social .icons a {
    margin-right: 24px;
}

.footer-container form input[type="text"] ,
.footer-container form textarea {
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}